{% extends 'booking/layout.html' %}
{% block body %}
<h2>Registered Courses</h2>
<ul>
    {% for subject in subjects %}
    <li> {{ subject.course_number }} 
        
        <form action="{% url 'booking:withdraw' subject.course_number.id %}" method="post" >
            {% csrf_token %}
            <button type="submit">withdraw</button>
        </form>
    </li>
    <!--<li> {{ student.first_name}} </li>
    <li> {{ student.last_name}} </li>
    <li> {{ student.username}} </li>-->
    {% empty %}
    <li> No registered courese. </li>
    {% endfor %}

</ul>


<a href="{% url 'booking:index' %}">Back to Booking List</a>
{% endblock %}