{% extends 'booking/layout.html' %}
{% block body %}
<h1>Registered Courses</h1>
{% if subjects %}
<table>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Section</th>
        <th>Semester</th>
        <th>Year</th>
        <th></th>      
    </tr>
    {% for subject in subjects %}
    <tr>
        <td>{{ subject.course_number.class_number }}</td>
        <td>{{ subject.course_number.subject_name }}</td>
        <td>{{ subject.course_number.section }}</td>
        <td>{{ subject.course_number.semester }}</td>
        <td>{{ subject.course_number.year }}</td>
        <td>
            <form action="{% url 'booking:withdraw' subject.course_number.id %}" method="post" >
                {% csrf_token %}
                <button type="submit">withdraw</button>
            </form>
        </td>
    </tr>
    

    <!--<li> {{ subject.course_number }} 
        
        <form action="{% url 'booking:withdraw' subject.course_number.id %}" method="post" >
            {% csrf_token %}
            <button type="submit">withdraw</button>
        </form>
    </li>-->
    <!--<li> {{ student.first_name}} </li>
    <li> {{ student.last_name}} </li>
    <li> {{ student.username}} </li>-->
    {% empty %}
    <li> No registered courese. </li>
    {% endfor %}
</table>
{% endif %}



<a href="{% url 'booking:index' %}">Back to Booking List</a>
<a href="{% url 'index' %}">Back to Profile</a>
{% endblock %}