{% extends 'booking/layout.html' %}
{% block body %}

<h1>Subject List</h1>
{% if subjects %}
<table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Section</th>
      <th>Semester</th>
      <th>Year</th>
      <th>Available Seat</th>
      <th>button</th>      
    </tr>
    {% for subject in subjects %}
    <tr>
        <td>{{ subject.course_number.class_number }}</td>
        <td>{{ subject.course_number.subject_name }}</td>
        <td>{{ subject.course_number.section }}</td>
        <td>{{ subject.course_number.semester }}</td>
        <td>{{ subject.course_number.year }}</td>
        <td>{{ subject.course_number.seats }}</td>
        <td>
            <form action="{% url 'booking:booking' subject.id %}" method="post" >
                {% csrf_token %}
                <button type="submit">enroll</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<a href="{% url 'booking:checksubreg' %}">Check Registered Courese</a>
{% endblock %}